# Core application
streamlit
uvicorn
fastapi
python-dotenv
requests
beautifulsoup4

# LlamaIndex + LangChain + Ollama
llama-index==0.10.52
llama-index-llms-ollama==0.1.5
llama-index-embeddings-ollama==0.1.2
llama-index-llms-openai-like
llama-index-llms-openai
ddgs
openai

# Other dependencies
pandas
scikit-learn
pytesseract
tqdm
py7zr
nvidia-ml-py3

# For TRL Training
transformers
datasets
peft
bitsandbytes>=0.46.1
accelerate
trl
torch>=2.0.0

